<h2 class="header">Todo List</h2>
<ul class="to-list">
  @for (task of tasks; track tasks) {
    <li class="to-list__item">
      <p class="to-list__item__text">{{ task.text }}</p>
      <button
        class="to-list__item__button"
        type="submit"
        (click)="deleteTask(task.id)"
      >
        <p>Delete</p>
      </button>
    </li>
  }
</ul>
<div class="container-for-adding-task">
  <textarea
    class="container-for-adding-task__textarea"
    id="container-for-adding-task__textarea"
    name="task"
    placeholder="Add your new todo"
    [(ngModel)]="article"
  ></textarea>
  <button
    class="container-for-adding-task__button"
    type="submit"
    (click)="addTask()"
  >
    <p>Add task</p>
  </button>
</div>
