.to-list__item {
  background-color: rgb(218, 218, 218);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.to-list__item__text {
  color: black;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.to-list__item__button  {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255, 0, 0);
}
.to-list__item__button:active {
  opacity: 0.5;
}
.to-list__item__button  p {
  color: black;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
