<li class="to-list__item" >
  @if(sharedId() === taskId()){
    <p class="to-list__item__text"  matTooltipPosition="above"  [matTooltip]="textDiscriprion()" >{{ textTask() }}</p>
  }
  @else {
     <p class="to-list__item__text" >{{ textTask() }}</p>
  }
  
  <app-to-do-button-component myTitle="Delete task" [(styles)]="stylesForButton"  (myClickChange)="deleteTask()"/>
  <mat-form-field>
    <mat-label> Add description for your todo</mat-label>
    <input appEnterControl matInput [ngModel]="textDiscriprion()"/>
  </mat-form-field>
</li>
