<h2 class="header">Todo List</h2>
<ul class="to-list">
  @if (isLoading()) {
    <ngx-spinner color="#000000" type="ball-spin" />
  } @else {
    @for (task of tasks(); track task.id) {
      @if (task.status == filter()) {
        <app-to-do-list-item-component
          [sharedId]="selectedItemId()"
          [taskId]="task.id"
          [textDiscriprion]="task.description"
          [textTask]="task.title"
          [statusIsCompleted]="task.status == `Completed`"
          (click)="selectId(task.id)"
          (tasksChange)="deleteTask($event)"
          (textTaskChange)="changeTitle($event)"
          (statusTaskChange)="changeStatus($event)"
        />
      }
      <!-- click тригерит перендеринг компонента  -->
    } @empty {
      <li class="to-list-item-notfound">Not found</li>
    }
  }
</ul>
<div class="container-for-adding-task">
  <div class="container-for-adding-task__inputs">
    <mat-form-field class="container-for-adding-task__inputs__input">
      <mat-label> Add your new todo</mat-label>
      <input appEnterControl matInput [(ngModel)]="article" />
    </mat-form-field>
    <mat-form-field class="container-for-adding-task__inputs__textarea">
      <mat-label> Add description for your todo</mat-label>
      <input appEnterControl matInput [(ngModel)]="description" />
    </mat-form-field>
  </div>
  <app-to-do-button-component
    myTitle="Add"
    [(styles)]="stylesForButton"
    (myClickChange)="addTask()"
  />
</div>
