.container{
    border: solid;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(219, 219, 219);
    max-width: 20%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1%;
    right: 20%;
}