:host{
    height: 300px;
    width: 50%;
}
.container{
    background-color: white;
    padding: 30px;
    padding-bottom: 60px;
    width: 30%;
    border-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
     box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.text-el{
    text-align: center;
    padding: 5%;
    border-bottom: solid 1px black;
    margin-bottom: 10px;
    
}
.text-el p{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.text-el:hover{
    background-color:  rgb(236, 236, 236);
    font-size: 20px;
    border: none;
}