.to-list__item__status-box {
  width: 50px;
  padding: 10px;
  background-color: white;
  border: solid;
  border-color: white;
  border-radius: 12px;
  margin-right: 10px;
  height: 72%;
  -webkit-box-shadow: 3px 13px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 3px 13px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 3px 13px 8px 0px rgba(34, 60, 80, 0.2);
  overflow-x: hidden;
}
input[type='checkbox'] {
  transform: scale(1.5);
}
.to-list__item__status-box label {
  color: black;
  font-family: 'Roboto Serif', serif;
  font-size: 10px;
  font-weight: 600;
}
.to-list__item__status-box__input {
  background-color: black;
}
.to-list__item__status-box__input:checked {
  background-color: black;
}
