
<li class="to-list__item">
  @if(isStart()){
  <ng-container [ngTemplateOutlet]="myTemplate"/>
  } 
  @else if (conditionForChangeTitle() === true) {
@if(!statusIsCompleted() && visibleChanger()){<app-to-do-list-item-checkbox-component (statusTaskChange)="changeStatus($event)"/>}
 @if(needTooltip()){
  <div
    appMyTooltip
    class="to-list__item__text"
    style="display: flex; width: 50%"
    [myTooltipText]="textDiscriprion()"
    [styles]="tooltipStyles"
    [verticalOffset]="-28"
  >
  @if(visibleChanger()){
    <mat-form-field class="to-list__item__text__input">
      <mat-label>Change your title</mat-label>
      <input appEnterControl matInput [(ngModel)]="newTitle" />
    </mat-form-field>
    <app-to-do-button-component
      myTitle="Change title"
      [(styles)]="stylesForButtonChangeTitle"
      (myClickChange)="changeText()"
    />
  }
  </div>
 }
 @else {
  <div
    class="to-list__item__text"
    style="display: flex; width: 50%"
  >
  @if(visibleChanger()){
    <mat-form-field class="to-list__item__text__input">
      <mat-label>Change your title</mat-label>
      <input appEnterControl matInput [(ngModel)]="newTitle" />
    </mat-form-field>
    <app-to-do-button-component
      myTitle="Change title"
      [(styles)]="stylesForButtonChangeTitle"
      (myClickChange)="changeText()"
    />
  }
  </div>
 }
 }
  @else {
  <ng-container [ngTemplateOutlet]="myTemplate"/>
  }
  @if(visibleChanger()){
    <app-to-do-button-component
    myTitle="Delete task"
    [(styles)]="stylesForButton"
    (myClickChange)="deleteTask()"
  />
  }
  
</li>
<ng-template #myTemplate>
  @if(needTooltip()){
     <span
    appMyTooltip
    class="to-list__item__text"
    [myTooltipText]="textDiscriprion()"
    [styles]="tooltipStyles"
    [verticalOffset]="40"
  >
    <p>{{ textTask() }}</p>
  </span>
  }
  @else {
     <span
    class="to-list__item__text"
  >
    <p>{{ textTask() }}</p>
  </span>
  }
 
</ng-template>